    .flex-container {
        width: 90%;
        display: flex;
        align-items: stretch;
        background-color: #f1f1f1;
        margin: auto;
    }

    .flex-container>div {
        background-color: DodgerBlue;
        color: white;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        width: 33.33%;

    }